In [1]:
import pandas as pd

# File with nouns

In [4]:
file_nouns = "../data/data_nouns_ge_sp.csv"

In [5]:
df_nouns = pd.read_csv(file_nouns)
df_nouns.sort_values(by=['singular','plural'], inplace=True)
df_nouns.shape

(1166, 5)

In [6]:
df_nouns.head()

  singular       plural gender    translation  mistakes
0        -       Eltern      p         padres         1
1        -       Ferien      p     vacaciones         6
2        -  Geschwister      p       hermanos         1
3        -   Kenntnisse      p  conocimientos         2
4        -       Kosten      p         costos         1

In [7]:
df_nouns[df_nouns.duplicated(subset=["singular"],keep=False) & (df_nouns['singular']!='-')]

      singular    plural gender           translation  mistakes
165      Brand         -      m    gangrena, necrosis         1
166      Brand    Brände      m  fuego, incendio, sed         1
399    Gewicht         -      n     peso, importancia        10
400    Gewicht  Gewichte      f                  pesa        11
832   Schimmel         -      m                  moho         8
833   Schimmel  Schimmel      m        caballo blanco         1
860     Schuld         -      f                 culpa         1
861     Schuld  Schulden      f                 deuda         1
1079      Wehr     Wehre      n          dique, presa         2
1080      Wehr    Wehren      f               defensa         1

In [8]:
df_nouns[df_nouns.duplicated(subset=["plural"],keep=False) & (df_nouns['plural']!='-')]

Empty DataFrame
Columns: [singular, plural, gender, translation, mistakes]
Index: []