In [1]:
import pandas as pd

# File with nouns

In [2]:
file_nouns = "../data_nouns_ge_sp.csv"

In [3]:
df_nouns = pd.read_csv(file_nouns)
df_nouns.sort_values(by=['singular','plural'], inplace=True)
df_nouns.shape

(1039, 4)

In [4]:
df_nouns.head()

  singular       plural gender    translation
0        -       Eltern      p         padres
1        -  Geschwister      p       hermanos
2        -   Kenntnisse      p  conocimientos
3        -       Kosten      p         costos
4        -        Leute      p          gente

In [5]:
df_nouns[df_nouns.duplicated(subset=["singular"],keep=False) & (df_nouns['singular']!='-')]

     singular    plural gender     translation
737  Schimmel         -      m            moho
738  Schimmel  Schimmel      m  caballo blanco
764    Schuld         -      f           culpa
765    Schuld  Schulden      f           deuda

In [6]:
df_nouns[df_nouns.duplicated(subset=["plural"],keep=False) & (df_nouns['plural']!='-')]

Empty DataFrame
Columns: [singular, plural, gender, translation]
Index: []